@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700;900&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

html,
body,
#__next {
  padding: 0;
  margin: 0;
  font-family: "Poppins", sans-serif;
  height: 100vh;
}

.hide-scroll::-webkit-scrollbar {
  display: none;
}

.hide-scroll {
  -ms-overflow-style: none; /* IE and Edge */
  scrollbar-width: none; /* Firefox */
}

.gradient {
  @apply bg-gradient-to-b from-white to-[#E7E7E7];
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}
